main{
    margin-top: 10vh;
}
.navbar {
    background: #a103ad;
}
.navbar-nav .nav-link {
    color: #fff;
}
.accueil {
    padding: 30px 0;
    margin:10px 0 50px;
    background-color: #fff;
    color: #000;
}
.accueil p {
    margin-top: 25px;
}
#inscription {
    color: #000;
    text-decoration: none;
}
.form-style-10 h1 {
    background: #a103ad;
    text-align: center;
    letter-spacing: 3px;
}
.form-style-10 label {
    margin-top:10px;
    margin-bottom: 0;
}
.form-style-10 input[type="submit"] {
    background: #a103ad;
    border: none;
}
.form-style-10 input[type="submit"]:hover {
    background: #90039a;
}
.produit {
    margin-bottom: 20px;
}
.produit .card{
    padding: 30px 0;
    min-height: 20vh;
}
.produit img {
    margin: 0 auto 15px;
    width: auto;
    height: 200px;
    max-width: 300px;
}
.produit h3 {
    text-transform: capitalize;
}
.produit p{
    font-size: 24px;
}